@font-face {
    font-family: 'ToyotaType-Book';
    src: url('ToyotaType-Book.eot');
    src: url('ToyotaType-Book.eot?#iefix') format('embedded-opentype'),
        url('ToyotaType-Book.woff2') format('woff2'),
        url('ToyotaType-Book.woff') format('woff'),
        url('ToyotaType-Book.ttf') format('truetype'),
        url('ToyotaType-Book.svg#ToyotaType-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ToyotaType';
    src: url('ToyotaType-Semibold.eot');
    src: url('ToyotaType-Semibold.eot?#iefix') format('embedded-opentype'),
        url('ToyotaType-Semibold.woff2') format('woff2'),
        url('ToyotaType-Semibold.woff') format('woff'),
        url('ToyotaType-Semibold.ttf') format('truetype'),
        url('ToyotaType-Semibold.svg#ToyotaType-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ToyotaType-SemiboldIt';
    src: url('ToyotaType-SemiboldIt.eot');
    src: url('ToyotaType-SemiboldIt.eot?#iefix') format('embedded-opentype'),
        url('ToyotaType-SemiboldIt.woff2') format('woff2'),
        url('ToyotaType-SemiboldIt.woff') format('woff'),
        url('ToyotaType-SemiboldIt.ttf') format('truetype'),
        url('ToyotaType-SemiboldIt.svg#ToyotaType-SemiboldIt') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ToyotaType';
    src: url('ToyotaType-Light.eot');
    src: url('ToyotaType-Light.eot?#iefix') format('embedded-opentype'),
        url('ToyotaType-Light.woff2') format('woff2'),
        url('ToyotaType-Light.woff') format('woff'),
        url('ToyotaType-Light.ttf') format('truetype'),
        url('ToyotaType-Light.svg#ToyotaType-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ToyotaType-BookIt';
    src: url('ToyotaType-BookIt.eot');
    src: url('ToyotaType-BookIt.eot?#iefix') format('embedded-opentype'),
        url('ToyotaType-BookIt.woff2') format('woff2'),
        url('ToyotaType-BookIt.woff') format('woff'),
        url('ToyotaType-BookIt.ttf') format('truetype'),
        url('ToyotaType-BookIt.svg#ToyotaType-BookIt') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ToyotaType-LightIt';
    src: url('ToyotaType-LightIt.eot');
    src: url('ToyotaType-LightIt.eot?#iefix') format('embedded-opentype'),
        url('ToyotaType-LightIt.woff2') format('woff2'),
        url('ToyotaType-LightIt.woff') format('woff'),
        url('ToyotaType-LightIt.ttf') format('truetype'),
        url('ToyotaType-LightIt.svg#ToyotaType-LightIt') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ToyotaType';
    src: url('ToyotaType-Regular.eot');
    src: url('ToyotaType-Regular.eot?#iefix') format('embedded-opentype'),
        url('ToyotaType-Regular.woff2') format('woff2'),
        url('ToyotaType-Regular.woff') format('woff'),
        url('ToyotaType-Regular.ttf') format('truetype'),
        url('ToyotaType-Regular.svg#ToyotaType-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ToyotaType-BlackIt';
    src: url('ToyotaType-BlackIt.eot');
    src: url('ToyotaType-BlackIt.eot?#iefix') format('embedded-opentype'),
        url('ToyotaType-BlackIt.woff2') format('woff2'),
        url('ToyotaType-BlackIt.woff') format('woff'),
        url('ToyotaType-BlackIt.ttf') format('truetype'),
        url('ToyotaType-BlackIt.svg#ToyotaType-BlackIt') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ToyotaType-BoldIt';
    src: url('ToyotaType-BoldIt.eot');
    src: url('ToyotaType-BoldIt.eot?#iefix') format('embedded-opentype'),
        url('ToyotaType-BoldIt.woff2') format('woff2'),
        url('ToyotaType-BoldIt.woff') format('woff'),
        url('ToyotaType-BoldIt.ttf') format('truetype'),
        url('ToyotaType-BoldIt.svg#ToyotaType-BoldIt') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ToyotaType';
    src: url('ToyotaType-Black.eot');
    src: url('ToyotaType-Black.eot?#iefix') format('embedded-opentype'),
        url('ToyotaType-Black.woff2') format('woff2'),
        url('ToyotaType-Black.woff') format('woff'),
        url('ToyotaType-Black.ttf') format('truetype'),
        url('ToyotaType-Black.svg#ToyotaType-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ToyotaType';
    src: url('ToyotaType-Italic.eot');
    src: url('ToyotaType-Italic.eot?#iefix') format('embedded-opentype'),
        url('ToyotaType-Italic.woff2') format('woff2'),
        url('ToyotaType-Italic.woff') format('woff'),
        url('ToyotaType-Italic.ttf') format('truetype'),
        url('ToyotaType-Italic.svg#ToyotaType-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ToyotaType';
    src: url('ToyotaType-Bold.eot');
    src: url('ToyotaType-Bold.eot?#iefix') format('embedded-opentype'),
        url('ToyotaType-Bold.woff2') format('woff2'),
        url('ToyotaType-Bold.woff') format('woff'),
        url('ToyotaType-Bold.ttf') format('truetype'),
        url('ToyotaType-Bold.svg#ToyotaType-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}