body {
  font-family: 'ToyotaType';
  color: #161A1D;
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}
.loader::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #000;
  border-top: 3px solid transparent;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container{
  width:100%;
  max-width: 1440px !important;
}
:focus-visible {
  outline: none;
}